{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": 1,
    "react/forbid-prop-types": 1
  }
}
